body{

}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}
.header img{
  width: 21%;
  margin-left: 55px;
  padding-bottom: 15px;
}
.nav{
  border: solid 10px black;
  text-align: center;
  font-family: arial;
  background-color: black;
  word-spacing: 57px;
  height: 20%;
}
.nav a{
  color: white;
  text-decoration: none;
}
.nav a:hover{
  color: #d1de44;
}
#mainphoto{
  background-color: #b7b7b9;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;
}
#mainphoto img{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: solid white 1px;
}
#threeboxes{
  display: flex;
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  column-gap: 25px;
  margin-left: auto;
  margin-right: auto;
}
.column img{
  width: 100%;
}
.column{
  flex: 1;
}
#sidebar{
  background-color: #e5e5e5;
  padding: 10px;
  overflow: scroll;
  height: 340px;
}
.footer{
  border: solid 10px black;
  text-align: center;
  font-family: arial;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  word-spacing: 20px;
}
.footer a{
  color: grey;
  text-decoration: none;
  font-size: 10px;
}
