body{
  border: solid 0.5px black;
}
.header{
  display: block;
  margin: 8px;
  height: 90px;
}
.header img{
  max-width: 21%;
  height: auto;
  position: absolute;
  left: 70px;
}
.nav{
  border: solid 10px black;
  text-align: center;
  font-family: arial;
  background-color: black;
  word-spacing: 57px;
}
.nav a{
  color: white;
  text-decoration: none;
}
.nav a:hover{
  color: #d1de44;
}
